<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <a routerLink="/"><img src="../../assets/github.svg" alt="img would be here" width="100px" height="100px"></a>

  <div class="collapse navbar-collapse" id="navbarNav">

    <ul class="navbar-nav">

      <li class="nav-item">

        <a class="nav-link" routerLink="/" routerLinkActive="active">Home</a>

      </li>

      <li class="nav-item">

        <a class="nav-link" routerLink="repos" routerLinkActive="active">Repositories</a>

      </li>

    </ul>

  </div>

</nav>
